<?xml version="1.0"?>
<config>
    <!--An XML must have a single root -->

    <!--240 -->
    <distance_to_trafiic_light>
        1000
    </distance_to_trafiic_light>

    <!--12 -->
    <red_light_start>
        30
    </red_light_start>

    <!--42 -->
    <red_light_end>
        80
    </red_light_end>

    <front_car_starting_position>
    </front_car_starting_position>
</config>