<?xml version="1.0"?>
<config>
    <!--An XML must have a single root-->>
    <time_step>
        10
    </time_step>

    <!-- The number of points between each unit of x-->>
    <granularity>
        10
    </granularity>

    <!-- The type of disturbance (no distrubance, fixed or Monte Carlo)-->>
    <disturb_type>
        monte_carlo
    </disturb_type>
</config>